.card-img-fixed {
  height: 200px;               /* Altura fija */
  width: 100%;                 /* Ocupar todo el ancho disponible */
  object-fit: cover;         /* Mostrar toda la imagen, sin recortarla */
  object-position: center;     /* Centrar la imagen */
  background-color: #f9f9f9;   /* Color de fondo si la imagen no llena todo */
}
.align-bottom {
  align-self: flex-end;
}
.card-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-footer {
  margin-top: auto;
}
.precio-viejo {
  font-size: 0.8rem;
  line-height: 1;
  opacity: 0.7;
  margin-top: 2px;
}
/* De 850px para abajo, se achica */
@media (max-width: 850px) {
  .badge-categoria {
    font-size: 0.6rem !important;
    padding: 0.25em 0.4em !important;
  }
}

/* Por debajo de 550px, vuelve a lo original */
@media (max-width: 550px) {
  .badge-categoria {
    font-size: 0.85rem !important;
    padding: 0.35em 0.6em !important;
  }
}
