.btn-aplicar-filtros{
    color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--color-verde-fuerte);
    border: 1px solid var(--color-verde-fuerte);
    transition: all 0.1s ease-out;

}
.btn-aplicar-filtros:hover{
    color: var(--color-verde-fuerte);
    background-color: var(--color-verde-suave);
}