
.area-filtros {
  display: none; 
}
.productos-filtrados{
  flex-direction: column;
}

.boton-filtros {
  position: sticky;
  top: 80px; 
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px; 
  padding: 8px 16px;
  color: var(--color-verde-fuerte);
  background-color: var(--color-blanco);
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  z-index: 1500;
}


@media screen and (min-width: 550px) {
  .area-filtros {
    display: block; 
  }
  
  .boton-filtros {
    display: none; 
  }
  .productos-filtrados{
    flex-direction: row;
  }
}