.bg-green-custom {
    background-color: var(--color-verde-claro);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .custom-prev,
.custom-next {
  width: 5% !important;
}
.contenedor-carousel-hero{
    height: 300px;
    border-radius:20px ;
}
.carousel-item {
    min-height: 300px !important; 
    display: flex;
    align-items: center;
  }